#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
    pointer-events: none;
    /* background: linear-gradient(0deg,
            var(--first-gradient-color) 0%,
            var(--second-gradient-color) 100%); */
    background-color: #000;
}

#first_button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: 0;
    border: none;
    cursor: pointer;
}