@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url("bg.jpg") center / cover no-repeat;
    min-height: 100%;
}

.page_wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    background: linear-gradient(0deg, #0D0D0D90, transparent);
    position: relative;
    /* вместо 100vh */
}

.scan_wrapper {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.code {
    width: 300px;
    height: auto;
    box-shadow: 0 0 15px black;
    border-radius: 30px 30px 10px 10px;
    z-index: 3;
}

.scan_wrapper>button {
    border-style: solid;
    border-width: 0;
    box-shadow: 0 0 15px black;
    color: white;
    font-weight: 700;
    font-size: 16px;
    width: 100%;
    height: 50px;
}

.open_link {
    border-radius: 10px;
    background-color: #506ECD;
    z-index: 3;
}

.open_link:hover {
    cursor: pointer;
    background-color: #5e80f0;
}

.back {
    border-radius: 10px 10px 30px 30px;
    background-color: #D73257;
    z-index: 3;
}

.back:hover {
    cursor: pointer;
    background-color: #f13961;
}

.scan_text {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    text-align: center;
    width: 100%;
    z-index: 1;
}