.dev-mode {
    .dev-panel {
        display: flex;
    }
}

.dev-panel {
    display: none;
    position: absolute;
    cursor: grab;
    top: 20vh;
    left: 10px;
    border-radius: 12px;
    padding: 10px;
    z-index: 9999;
    font-family: sans-serif;
    text-align: center;
    flex-direction: row;
    gap: 10px;
}

.dev_block {
    width: 140px;
}

.dev_panel_title {
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--font-color);
}

.dev_buttons_container {
    background-color: var(--role-background-color);
    padding: 5px;
    border-radius: 7px;
    gap: 8px;
}

.dev-panel button {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--font-color);
    font-size: 14px;
    padding: 6px 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s;
}

.dev-panel button:hover {
    background: var(--upm-button-color-hovered);
}

#dev-bg-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    pointer-events: none;
    display: none;
}

.indev {
    user-select: text;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 15px;
    color: #fff;
    z-index: 9999;
    text-align: right;
    padding: 10px;
    font-family: monospace;
    white-space: pre-line;
    transition: ease 0.2s;
}

.indev:hover {
    background-color: #0d0d0d90;
    backdrop-filter: blur(var(--main-blur)) brightness(var(--main-brightness))
        contrast(var(--main-contrast));
    transition: ease 0.2s;
}
