/* --- Next Music Popup --- */
.nextmusic_popup {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px 5px 25px;
    gap: 10px;

    left: -15px;
    top: 30%;
    height: 65px;

    border: none;
    border-radius: 0 12px 12px 0;

    cursor: pointer;

    transition: transform 0.3s ease;
    transform: translateX(0);
    z-index: 1;
}

.nextmusic_popup:hover {
    transform: translateX(10px);
}

/* Popup image */
.nextmusic_popup img {
    width: 45px;
    height: 45px;
    border-radius: 10px !important;
}

/* Popup title */
.nextmusic_title {
    font-size: 17px;
    font-weight: 800;
    color: var(--font-color);
}

/* --- Next Music Modal --- */
.nextmusic_modal_wrapper {
    position: fixed;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #0005;
    backdrop-filter: blur(3px);
    z-index: 600;
    border: 0 solid;
}

.nextmusic_modal {
    width: calc(100% - 80px);
    max-width: 700px;
    height: auto;

    background-color: var(--upm-background-color);
    color: var(--font-color);
    text-align: center;

    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 3px 10px var(--main-shadow-color);
}

/* Modal wrapper for content */
.modal_wrapper {
    background-color: var(--wrapper-color);
    border-radius: 15px;
    padding: 15px;
    height: 100%;
    overflow: auto;
}

/* Modal images */
.nextmusic_modal img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
