#fb_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
    backdrop-filter: blur(var(--main-blur)) brightness(0.81);
    z-index: 9999;
}

.first_button {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: 0;
    border: none;
    /*cursor: url("https://diram1x.ru/src/assets/cursor_yui.png"), pointer;*/
    cursor: pointer;
}

.loading_wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
    /*cursor: url("https://diram1x.ru/src/assets/cursor_default.png"), auto;*/
}

.loading_thumbnail {
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.loading_gif {
    position: fixed;
    width: 150px;
    height: 150px;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
}
