:root {
    --lg-highlight: rgba(255, 255, 255, 0.4);
    --lg-hover-glow: rgba(255, 255, 255, 0.4);

    --main-blur: 10px;
    --main-brightness: 1;
    --main-contrast: 1;

    --topbar-height: 48px;
    --border-color: #3a3a3a;
    --main-shadow-color: #0005;
}

.dark-theme {
    --overlay-background-color: #0d0d0d50;
    --topbar-button-color: #fff2;
    --topbar-button-color-hovered: #3b424d;
    --background-dark: #0d0d0d;
    --background-profile-content: #1e2027;
    --font-color: #ffffff;
    --block-title-font: #48535d;
    --wrapper-color: rgba(0, 0, 0, 0.6);
    --simple-block-background-color: #fff1;
    --simple-block-background-color-mobile: #0006;
    --dev-description-text-color: #d5d1e7;
    --upm-background-color: #040404;
    --upm-button-color-hovered: #fff1;
    --expand-button-hover: #212121;
    --scroll-background-color: #615762;
    --scroll-background-color-hovered: #998a9b;
    --favorite-track-invert-filter: 100%;
    --favorite-track-shadow-color: #e9e7e1;
    --favorite-track-text-artist-color: #fff8;
    --separator-color: #fff2;
    --role-background-color: #fff1;
    --dimmer-control: #0005;
    --favorite-track-chromium-invert-filter: 100%;
    --favorite-track-gecko-invert-filter: 0%;
    --favorite-track-chromium-background: #f1f3f4;
    --favorite-track-gecko-background: #1a1a1a;
    --toast-background-color-hovered: #30303090;
    --you-bar-color: #00071b;
    --you-modal-bg-color: #000000;
    --you-modal-block-color: #141318;
    --swipe-bar-color: #141414;
    --ds-button-background-color-mobile: #2d2d35;
    --ds-button-background-color: #fff1;
    --ds-button-background-color-hover: #fff2;
    --ds-timestamp-color: #52a480;
    --member-bg: #0003;
    --member-bg-hover: #0003;
}

.light-theme {
    --overlay-background-color: #fff9;
    --topbar-button-color: #0002;
    --topbar-button-color-hovered: #c9c1df;
    --background-dark: #0d0d0d;
    --background-profile-content: #1e2027;
    --font-color: #2b333d;
    --block-title-font: #48535d;
    --wrapper-color: rgba(255, 255, 255, 0.6);
    --simple-block-background-color: #fff5;
    --simple-block-background-color-mobile: #fff8;
    --dev-description-text-color: #5f606a;
    --upm-background-color: #f8f8f8;
    --upm-button-color-hovered: #0001;
    --expand-button-hover: #dedede;
    --scroll-background-color: #a391a1;
    --scroll-background-color-hovered: #685c66;
    --favorite-track-shadow-color: #16181e;
    --favorite-track-text-artist-color: #0008;
    --separator-color: #0002;
    --role-background-color: #0001;
    --dimmer-control: #0000;
    --favorite-track-chromium-invert-filter: 0%;
    --favorite-track-gecko-invert-filter: 100%;
    --favorite-track-chromium-background: #f1f3f4;
    --favorite-track-gecko-background: #1c1c1c;
    --toast-background-color-hovered: #dbceff90;
    --you-bar-color: #ecf1ff;
    --you-modal-bg-color: #f2f3f5;
    --you-modal-block-color: #ffffff;
    --swipe-bar-color: #d8d9db;
    --ds-button-background-color-mobile: #fff9;
    --ds-button-background-color: #fff9;
    --ds-button-background-color-hover: #fff;
    --ds-timestamp-color: #006953;
    --member-bg: #fff8;
    --member-bg-hover: #fff9;
}
